AFFORDMED_EMAIL=your-college-email@university.edu
AFFORDMED_NAME=your-full-name
AFFORDMED_ROLL_NO=your-roll-number
AFFORDMED_ACCESS_CODE=your-access-code
AFFORDMED_CLIENT_ID=your-client-id
AFFORDMED_CLIENT_SECRET=your-client-secret
